@import url("https://fonts.googleapis.com/css?family=Space+Mono");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-weight: 400;
  list-style-type: none;
  font-style: normal;
}

body {
  padding: 50px;
  background: #1d1f20;
  color: #cfd8dc;
  line-height: 1.4;
  font-family: "Space Mono", monospace;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

::-webkit-scrollbar {
  display: none;
}

h1 {
  color: #efc371;
  margin: 0 0 10px;
  font-size: 35px;
}

strong {
  color: #b5bc67;
}

em {
  color: #dd925f;
}

h2 {
  color: #ae94c0;
  margin: 10px 0;
  text-transform: uppercase;
}

blockquote, ul, ol {
  border-left: 1px solid #4d4d4c;
  margin: 10px 0 10px 20px;
  padding: 0 0 0 20px;
  color: #efc371;
}

blockquote {
  margin: 10px 0 10px 40px;
  font-style: italic;
}

h3 {
  color: #ae94c0;
  margin: 10px 0;
}

img {
  display: run-in;
}

.comment {
  color: #4d4d4c;
}

p:nth-of-type(8) {
  color: #b5bc67;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

/*.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
